@import url("./fonts.css");

html {
  font-family: "Stratos Deliveroo Web";
}
body {
  max-width: 1024px;
  margin: 0 auto;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
}

.restaurant-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-left-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurant-right-container {
  flex: 1;
}
.restaurant-container img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.categorie-container {
  display: flex;
  flex-wrap: wrap;
}

.elem-container {
  flex: 1;
  flex-shrink: 0;
  border: 1px solid black;
}

.block-categories {
  display: flex;
}
